option_settings:
  - option_name: RAILS_ENV
    value: production

  - option_name: JRUBY_OPTS
    value: --server -J-Xms1024m -J-Xmx1500m -J-XX:+UseConcMarkSweepGC -J-XX:-UseGCOverheadLimit -J-XX:+CMSClassUnloadingEnabled

  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: aws-nrel-nlong

  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: m3.large

  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1800

  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-6f6eb70a

  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-68db221f

  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-57db2220

  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-fd783e98

  - namespace: aws:ec2:vpc
    option_name: AssociatePublicIpAddress
    value: true

