/*  BEMscape styles */
/* header styles */
#nrelheader-bem-home {width:100%;background-color:#fff;}
#top-subheader-bem{ width:100%;height:67px; position:relative; top:-1px; background-image:url(/images/bem_scape_banner_1.png); background-repeat:no-repeat;}
#top-login-bem{padding-left:800px; padding-top: 5px;}
.top-text-bem {font-weight:bold; color: #000;}
#top-login-bem a{font-weight:bold; color:#000; text-decoration:none;}
#top-login-bem a:hover{font-weight:bold; color:#C60; background-color:transparent; text-decoration:none;}

/* content */
#content-bem {float:left;margin:0;margin-right:0px;padding:30px 20px 50px 20px; display:inline;width:1080px;}

#input-form {width:80%;}
#input-form fieldset {padding:20px;}
#input-form .left {float:left; width:49%;}
#input-form .right {float:right; width:49%;}

/*RAILS styles */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#notice {
  color: black;
  width:1030px;
}
.notice
{
  color:green;
  border:1px solid green;
  padding:5px;
}
.alert
{
  color:red;
  border:1px solid red;
  padding:5px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    margin-top:0.2em;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
