<h2>Admin</h2>

<div style="padding-top:30px;">
<p><%= link_to 'Manage Users', users_path, class: 'btn btn-small btn-primary' %></p>
</div>
<div style="padding-top:50px;">
<p><%= link_to "Measure Definitions", measure_descriptions_path %></p>
  <p><%= link_to "Analyses", analyses_path %></p>
</div>

