<h1>Listing provenances</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @provenances.each do |provenance| %>
      <tr>
        <td><%= link_to 'Show', provenance %></td>
        <td><%= link_to 'Edit', edit_provenance_path(provenance) %></td>
        <td><%= link_to 'Destroy', provenance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provenance', new_provenance_path %>
