<h2>Units</h2>
<h3 class="edit-name"><%= @unit.name %> <%= link_to "[ edit ]", edit_unit_path(@unit), class: "edit-link" %></h3>
<table class="table table-striped">
  <% @unit.attributes.keys.each do |key| %>
    <% unless key == "created_at" or key == "updated_at" %>
      <tr>
        <th> <%= key == "_id" ? "ID" : key.humanize%></th>
        <td><%= @unit[key] %> </td>
      </tr>
    <% end %>

  <% end %>
</table>

